<ion-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">SIGN IN </h1>
    </ion-header-bar>
    <ion-content style="margin-top:-16px;">
            <div class="row">
                <button class="col col-15 col-offset-15 button button-small button-light" style="border: 3px solid #6a0a0b; font-size:15px; margin-left: 10px;" ng-click="register()">
                    <span style="color:#6a0a0b; font-size: 15px;"><small>SIGN UP</small></span>
                </button>
                <button class="col col-15 col-offset-15 ">
                    <span><small>SIGN IN</small></span>
                </button>
            </div>
            <div class="text-center item" style="font-size:10px; padding:0; border:0;">
                <div class="terms">FORGOT PASSWORD?</div>
            </div>
    </ion-content>
</ion-view>



