<ion-view view-title="SIGN-IN">
    <ion-content style="margin-top:10px;">

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">User Name</span>
                <input type="text" ng-model="user.username" placeholder="email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="row">
        <button class="col col-15 col-offset-15 button button-small button-positive" ng-click="login(user)">
            Submit
        </button>
        <button class="col col-15 col-offset-15 button button-small button-light" style="margin-right: 10px; margin-left: 10px;" ng-click="gosignIn()">
            <span><small>SIGN UP</small></span>
        </button>
        </div>
    </ion-content>
</ion-view>



