<ion-view view-title="SIGN-IN">
    <!--<ion-header-bar class="bar bar-header">-->
        <!--<button class="button button-icon ion-ios7-arrow-back item-icon-right btn-edit  button-icon icon ion-chevron-left"-->
                <!--ng-click="goBack()"></button>-->
        <!--<h1 class="title">SIGN IN </h1>-->
    <!--</ion-header-bar>-->
    <ion-content style="margin-top:10px;">

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">User Name</span>
                <input type="text" ng-model="user.username" placeholder="email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        &nbsp;&nbsp;
        <button class="button button-light" ng-click="login(user)">
            Submit
        </button>
        <a href="#/signup">Sign-up</a>
    </ion-content>
</ion-view>



