<ion-view>
    <ion-content>
        <div>
            <div class="bar bar-header bar-stable">

                <h1 class="title" ng-bind="pageTitle"></h1>
            </div>
            <br>
            <br>

            <div class="list">
                <a class="item item-avatar" href="#/home">
                    <img src="../img/ionic.png">
                    <h2>Home Page</h2>
                </a>
                <a class="item item-avatar" href="#/two">
                    <img src="../img/ionic.png">
                    <h2>Second Page</h2>
                </a>
                <a class="item item-avatar" href="#/three">
                    <img src="../img/ionic.png">
                    <h2>Third Page</h2>
                </a>
                <a class="item item-avatar" href="#/four">
                    <img src="../img/ionic.png">
                    <h2>Fourth Page</h2>
                </a>
                <a class="item item-avatar" href="#/five">
                    <img src="../img/ionic.png">
                    <h2>Fifth Page</h2>
                </a>

            </div>
            <h4 class="title" ng-bind="findData.username"></h4>

            <p>Error Data</p>
            {{findData}}
        </div>
    </ion-content>
</ion-view>
