<ion-view view-title="SIGN-UP">

        <!--<ion-header-bar class="bar bar-header">-->
            <!--<button class="button button-icon ion-ios7-arrow-back item-icon-right btn-edit  button-icon icon ion-chevron-left"-->
                    <!--ng-click="goBack()"></button>-->
            <!--<h1 class="title">SIGN UP </h1>-->
        <!--</ion-header-bar>-->
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">User Name</span>
                <input type="text" ng-model="user.email" placeholder="email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.passw">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" ng-model="user.firstname" placeholder="name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="user.lastname" placeholder="surname">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Birth Date</span>
                <input type="date" ng-model="user.date1" placeholder="mm/dd/yyyy">
            </label>
        </div>
        &nbsp;&nbsp;
        <button class="col col-15 col-offset-15 button button-small button-light" ng-click="submit(user)">
           Submit
        </button>
        <button class="col col-15 col-offset-15 button button-small button-light" style="margin-right: 10px; margin-left: 10px;" ng-click="gosignIn()">
            <span><small>SIGN IN</small></span>
        </button>
    </ion-content>
</ion-view>
